@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins';
  background-color: #dde1e7;
}


.keyboard_section {
  width: 1000px;
  background-color: #dde1e7;
  box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94, 104, 121, 0.3);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 25px;
}

.row {
  gap: 18px;
  display: flex;
  justify-content: center;
  margin: 18px 0;
}

.row input {
  border: none;
  background-color: #dde1e7;
  box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94, 104, 121, 0.3);
  min-width: 50px;
  height: 50px;
  font-size: 20px;
  color: #808080;
  border-radius: 5px;

}

.row input[value="SPACE"] {
  width: 60%;
}


.row input:focus {
  color: #3498db;
  box-shadow: inset -3px -3px 7px #ffffff73,inset 2px 2px 5px rgba(94, 104, 121, 0.3);
  font-size: 19px;

}


@media screen and (max-width:800px) {
  .keyboard_section {

    width: 500px;
  }
  .row {
    gap: 10px;

  }

  .row input {
    height: 30px;
    min-width: 30px;
    font-size: 12px;
  }
  .row input:focus{
    color: #3498db;
    font-size: 8px;
  }
}
@media screen and (max-width:450px) {
  .keyboard_section {

    width: 400px;
  }
  .row input {
    height: 20px;
    min-width: 20px;
    font-size: 9px;
}
}